head
	meta( charset='utf-8' )
	meta( http-equiv="x-ua-compatible" content="ie=edge" )
	meta( name="viewport" content="width=device-width, initial-scale=1" )
	base( href=site.system.url )
	meta( name="robots" content="index,follow,noodp" )
	meta( name="googlebot" content="index,follow" )
	if site.system.gverification
		meta( name="google-site-verification" content=site.system.gverification )

	//- Regular meta tags
	title !{site.identity.title} - #{page.title}
	meta( name="description" content=site.identity.desc )

	//- Facebook tags
	meta( property="og:site_name" content=site.identity.title )
	meta( property="og:title" content=site.identity.title + ' - ' + page.title )
	meta( property="og:description" content=page.desc )
	meta( property="article:published_time" content=page.published)
	meta( property="og:type" content="article" )
	meta( property="og:url" content=page.url )
	//- Image must be an absolute URL!
	meta( property="og:image" content=site.system.url + page.featuredimg)
	meta( property="fb:admins" content=site.author.facebook )
	meta( property="profile:first_name" content=site.author.firstname)
	meta( property="profile:last_name" content=site.author.lastname)


	//- Twitter tags
	meta( name="twitter:site" content=site.author.twitter )
	meta( name="twitter:title" content=site.identity.title + ' - ' + page.title )
	meta( name="twitter:description" content=page.desc)
	//- Image must be an absolute URL!
	meta( name="twitter:image" content=site.system.url + page.featuredimg)
	meta( name="name=twitter:image:alt" content=page.title )
	meta( name="twitter:card" content=page.desc )

	//- DNS Prefetching
	link( rel="dns-prefetch" href="//www.google-analytics.com" )
	link( rel="dns-prefetch" href="//fonts.googleapis.com.com" )

	//- Load essential css
	style!=css
	//- Load the main css stylesheet if there is no js support
	noscript: link( rel="stylesheet" type="text/css" href=site.system.url + 'assets/css/styles.css' )

	//- Get the webpack script
	script( src=site.system.url + `assets/js/app-${site.system.timestamp}.js`, async)

	//- Load the main css stylesheet and fonts if there is js support
	script( type="application/javascript" ).
		const loadAsync = async ( url, mime ) => {
			let link = document.createElement( "link" )
			link.href = url
			link.type = mime || ""
			link.rel = "stylesheet"
			return document.getElementsByTagName( "head" )[0].appendChild( link )
		}
		loadAsync( "#{ site.system.url + 'assets/css/styles.css' }", "text/css" )
		loadAsync( "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", "" )